* {
  box-sizing: border-box;
  --main-bg: white;
  --header-clr: #005a4c;
  --post-bg: #F5FDFF;
  --accent-clr: #DDF0C2;
  --dark-grey: #8C999A; 
  --light-grey: #F5F5F5;
}

html, body {
  margin: 0px;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
}

#FUNDR {
  font-family: 'Lexend Peta', sans-serif;
}

.main-bg {
  background-color: var(--main-bg);
}

.main-bgc {
  color: var(--main-bg);
}

.header-clr {
  background-color: var(--header-clr);
}

.header-clrc {
  color: var(--header-clr);
}

.post-bg {
  background-color: var(--post-bg);
}

.accent-clr {
  background-color: var(--accent-clr);
}

.dark-grey {
  background-color: var(--dark-grey);
}

.light-grey {
  background-color: var(--light-grey);
}

.logo {
  max-width: 40px;
}

.nav_icon {
  width: 150px;
}

.home-img {
  background-image: url("../main_app/home_pic.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.fill_screen {
  height: 100%;
  position: absolute;
  margin: 0;
}

.footer-band {
  background-color: var(--dark-grey);
}

.smallspan {
  font-size: 10px;
}
#board {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgb(245,247,250);
}

.description{
  height: 20vmin;
}

.icon {
  width: 1px;
}

.container-content{
  overflow-y: scroll  
}
.mb-n0{
  margin-bottom: -120%;
}
.m-firstcard{
  margin-top: 50%;
}

.parent-scroll{

  overflow: hidden;
  position: relative;
}

.child-scroll {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: -35px;
  overflow-y: scroll;
  padding-top: 10vmin;
}
.position-fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

}
.card-yourfundr{
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
}

.row {
  
  justify-content: center;
}
.col{
  justify-content: center;
}
.mt-6{
  margin-top: 10vmin;
}


@media only screen and (max-width: 600px){
  .mb-n0{
    margin-bottom: -50%;
  }
  .m-firstcard{
    margin-top: 75%;
  }

  .position-fixed{
    position: fixed;
    top: 15vmin;
    left: 0;
    right: 0;
    z-index: 2;
  
  }

}