{% extends template %}
{% block content %}

<h1></h1>
<form action="" method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="id_name" class="form-label">Name of Fundr</label>
    <input type="text" name="name" maxlength="100" required class="form-control" id="id_name" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="id_bio" class="form-label">Bio</label>
    <input type="text" maxlength="280" name="bio" required class="form-control" id="id_bio">
    <div id="emailHelp" class="form-text">Short bio to show on your explore card (max. 280ch)</div>
  </div>
  <div class="mb-3">
    <label for="id_description" class="form-label">Description</label>
    <textarea type="text" maxlength="1000" name="description" required class="form-control description" id="id_description"></textarea>
    <div id="emailHelp" class="form-text">Long description to be displayed on your Fundr page</div>
  </div>
  <div class="mb-3">
    <label for="id_goal" class="form-label">Goal</label>
    <input type="number" name="goal" value="1000.0" max="100000.0" required class="form-control" id="id_goal">
  </div>
  <div class="mb-3">
    <label for="id_location" class="form-label">Password</label>
    <input type="text" maxlength="7" name="location" class="form-control" required id="id_location">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% if user.is_authenticated %}
    <p>Authenticated - yes</p>
{% else %}
    <p>Authenticated - no</p>
{% endif %}

{% endblock %}