{% extends 'base-head-only.html' %} {% block content %} {% load static %}

<!-- <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {{ profile_form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn">Log In</button>
</form> -->

<div class="login-page header-clr" style="height: 100%">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="jumbotron jumbotron-fluid mt-4 mb-4">
                    <div class="container">
                        <h1 class="display-4">
                            <span class="fw-bold main-bgc">FUNDR</span> sign-up
                        </h1>
                        <p class="lead">The app for local people, to help local people.</p>
                    </div>
                </div>
                <div class="bg-white shadow rounded mt-4">
                    <div class="row">
                        <div class="col-md-7 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <form action="{% url 'signup' %}" method="POST" class="row g-4">
                                    {% csrf_token %}
                                    {{ profile_form.as_p }}
                                    <div class="col-12 d-flex flex-column">
                                        <label for="id_username">Username<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text">
                                                <i class="bi bi-person-fill"></i>
                                            </div>
                                            <input type="text" class="form-control" name="username"
                                                placeholder="Enter Username" maxlength="150" autocapitalize="none"
                                                autocomplete="username" autofocus required id="id_username" />
                                        </div>
                                        <span class="helptext smallspan">
                                            Required. 150 characters or less. Letters, digits and
                                            @/./+/-/_ only.</span>
                                    </div>

                                    <div class="col-12 d-flex flex-column">
                                        <label for="id_password1">Password<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text">
                                                <i class="bi bi-lock-fill"></i>
                                            </div>
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                name="password1" placeholder="Enter Password"
                                                autocomplete="new-password" required id="id_password1" />
                                        </div>
                                        <span class="helptext smallspan">
                                            Required. At least 8 characters. Not commonly used. Not
                                            entirely numeric.</span>
                                    </div>

                                    <div class="col-12 d-flex flex-column">
                                        <label for="id_password2">Re-type password<span
                                                class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text">
                                                <i class="bi bi-lock-fill"></i>
                                            </div>
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                name="password2" placeholder="Enter Password"
                                                autocomplete="new-password" required id="id_password2" />
                                        </div>
                                        <span class="helptext smallspan">
                                            Enter the same password as before, for verification.</span>
                                    </div>

                                    <div class="col-12 d-flex flex-column">
                                        <label for="id_password1">Avatar<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text">
                                                <i class="bi bi-lock-fill"></i>
                                            </div>
                                            <input type="url" class="form-control"
                                                name="avatar" placeholder="URL"/>
                                        </div>
                                        <span class="helptext smallspan">
                                            Paste in an avatar url here.</span>
                                    </div>

                                    <div class="d-flex justify-content-md-between">
                                        <div>
                                            <button type="submit" class="btn btn-primary px-4 float-end mt-4">
                                                SIGN-UP
                                            </button>
                                        </div>
    
                                        <div class="d-flex flex-column">
                                            <a href="{% url 'login' %}" class="btn btn-secondary px-4 float-end mt-4">LOGIN</a>
                                            <span class="helptext smallspan">Let me login instead.</span>
                                        </div>
                                    </div>

                                    <input type="hidden" name="next" value="{{ next }}">
                                    
                                </form>
                                <p>{{ error_message }}</p>
                            </div>
                        </div>
                        <div class="col-md-5 ps-0 d-none d-md-block">
                            <div class="form-right h-100 bg-primary text-white text-center pt-5 home-img">
                                <i class="bi bi-bootstrap"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar fixed-bottom dark-grey">
    <div class="dark-grey container-fluid justify-content-start d-flex">
        <a class="text-decoration-none main-bgc p-2" href="#cookies">Cookies</a>
        <a class="text-decoration-none main-bgc p-2" href="#terms">Terms & Conditions</a>
        <a class="text-decoration-none main-bgc p-2" href="#privacy">Privacy Policy</a>
    </div>
</nav>

{% endblock %}