{% extends template %}
{% block content %}
<h1>Saved</h1>
<div>
  {% for fundr in fundrs %}
    {% if forloop.counter == 1%}
      <div class="card mb-1 mt-6">
    {% else %}
      <div class="card my-5">
    {% endif %}
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
        alt="Hollywood Sign on The Hill">
      <div class="card-body">
        <h5 class="card-title">{{ fundr.name }}</h5>
        <p class="card-text">
          £{{ fundr.current }}/£{{ fundr.goal }}
        </p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}