{% extends template %}
{% load static %}
{% block content %}

<div class="container child-scroll">
  <div class="card mb-5" style="width: 90%;">
    <img src="{% static 'main_app/home_pic.png' %}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title py-2">{{ fundr.name }}</h5>
      <div class="d-flex py-2">
        <p class="flex-grow-1 text-start fw-semibold">Goal:</p>
        <p>£{{ fundr.current }} of</p>
        <p class="ps-2">£{{ fundr.goal }}</p>
      </div>
      <div class="d-flex py-2">
        <p class="flex-grow-1 text-start fw-semibold">Near to:</p>
        <p>{{ placename }}</p>
      </div>
      <div class="d-flex py-2">
        <p class="flex-grow-1 text-start fw-semibold">Owner</p>
        <p>{{ fundr.owner }}</p>
      </div>
      <p class="card-text text-start">{{ fundr.bio }}</p>
      <p class="card-text fs-6 text-start fw-semibold">Full description:</p>
      <p class="card-text text-start">{{ fundr.description }}</p>
    </div>
  </div>

  {% if user.id == fundr.owner_id %}

  <div class="card mb-5" style="width: 90%;">
      <h5 class="card-title py-4">Add a post to this Fundr</h5>
      <form class="d-flex flex-column align-items-center ms-3" style="width: 90%" action="{% url 'add_post' fundr.id %}" method="POST">
        {% csrf_token %}
        <div class="mb-3 d-flex flex-column " style="width: 100%">
          <label for="id_title" class="align-self-start form-label">Post title:</label>
          <input type="text" class="form-control" name="title" max-length="100" required id="id_title">
        </div>
        <div class="mb-3 d-flex flex-column" style="width: 100%">
          <label for="id_image" class="align-self-start form-label">Image URL:</label>
          <input type="url" class="form-control" name="image" max-length="200" required id="id_image">
        </div>
        <div class="mb-3 d-flex flex-column" style="width: 100%">
          <label for="id_content" class="align-self-start form-label">Post content:</label>
          <input type="textarea" class="form-control" name="content" max-length="500" required id="id_content">
        </div>
        <input type="hidden" name="owner" required value="{{ fundr.owner_id }}"></input>
        <input type="hidden" name="fundraiser" required value="{{ fundr.id }}"></input>
        <button type="submit" class="my-3 btn btn-primary align-self-center" value="Add Post">Add Post</button>
      </form>
  </div>

  {% endif %}

</div>

{% endblock %}