{% extends template %}
{% block content %}


    <a class=" fixed-bottom btn btn-primary z-2" href="{% url 'new_fundr' %}">New Fundr</a> 



{% for fundr in fundrs %}
  <div class="card ms-2 my-3 " style="width: 95%;">
    <img src="{{ fundr.image }}" class="card-img-top">
    <div class="card-body">
      <a href="{% url 'detail' fundr.id %}" class="text-decoration-none">
        <h3>{{ fundr.name }}</h3>
      </a>
      <p class="card-text text-start">£{{ fundr.current }}/£{{ fundr.goal }}</p>
    </div>
    </div>

{% endfor %}


{% endblock %}


