{% extends template %}
{% block content %}

<h2>Upload Photo</h2>

  <form action="{% url 'add_avatar' user.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- <label for="id_avatar" class="form-label">Image</label>
    <input value="" type="file" name="avatar" accept="image/*"
      id="id_avatar"> -->
      <label for="id_avatar">Avatar:</label>
      <input type="file" name="avatar"  required id="id_avatar">

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>


{% endblock %}