{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fundr - {{ title }}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'main_app/fundr_icon.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
  
</head>
<body>
  {% csrf_token %}
  <script>
    
    async function constructURL(lat, lon) {
      let baseURL = 'https://fundr.fly.dev'
      let endpoint = '/userlocation/'
      let queryParameters = `?lat=${encodeURIComponent(lat)}&lon=${encodeURIComponent(lon)}/`;
      let url = baseURL + endpoint + queryParameters
      try {
        await fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            // Required by django:  CRSF token 
            'X-CSRFToken': getCookie('csrftoken'),
          },
          body: JSON.stringify({
            userlat: lat,
            userlon: lon,
          })
        })
      } catch {
        console.log('error');
      }
    }

    // Function to retrieve the CSRF token from the cookies
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }

    // Use inbuilt geolocation in modern browsers:
    navigator.geolocation.getCurrentPosition((position) => {
      constructURL(position.coords.latitude, position.coords.longitude);
    });

  </script>
  <header class="navbar-fixed sticky-top justify-content-between d-flex align-items-center header-clr z-3 position-sticky ">
    <div><img class="logo m-2" src="{% static 'main_app/fundr_icon.png' %}" alt="Fundr Logo"></div>
    <div><a href="{% url 'home' %}" class="left brand-logo text-white text-decoration-none h2" id="FUNDR">FUNDR</a></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="m-2"><img src="{% static 'main_app/hamburger_icon_white.svg' %}" alt="Hamburger Menu" width="50px"></span>
    </button>
  </header>
  <main class="container z-0 infinite-container mb-5 ">
      {% block content %}
      {% endblock %}
  </main>
  <footer class="navbar fixed-bottom dark-grey">
    <div class="dark-grey container-fluid justify-content-md-between d-flex">
      <a href="{% url 'home' %}"><img src="{% static 'main_app/home_icon_white.svg' %}" alt="Home Icon" width="50px"></a>
      <a href="{% url 'explore' %}"><img src="{% static 'main_app/explore_icon_white.svg' %}" alt="Explore Icon" width="50px"></a>
      <a href="{% url 'following' %}"><img src="{% static 'main_app/lists_icon_white.svg' %}" alt="List Icon" width="50px"></a>
    </div>
  </footer>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">FUNDR</h5>
      <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column justify-content-between">
      <ul class="navbar-nav flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'your_fundrs' %}">YOUR FUNDRS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">USER SETTINGS</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-grow-1 pe-3 d-flex flex-column justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Terms & Privacy</a>
        </li>
      </ul>
    </div>
  </div>
</body>


</html>