{% extends template %}
{% block content %}

<h2>Explore local Fundrs</h2>



  <div class="card ms-3 my-3" style="width: 95%";>
    <img class="card-img-top" id="fundr-img">
      <div class="card-body">
        <div>
          <h5 class="card-title" id="fundr-name"></h5>
          <p class="card-text" id="fundr-distance"></p>
        </div>
        <p class="card-title" id="fundr-bio"></p>
        <p class="card-text" id="fundr-funded"></p>
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        <button type="button" id="next-button" style="margin-right: 20%;" class="btn">Next</button>
        <input type="number" name="current_index" id="current_index" class="d-none">
        <button type="submit" style="margin-left: 20%;" class="btn" id="save-button" name="fundr_id" onclick="document.getElementById('next-button').click()">Save</button>
      </form>
  </div>



<script>
  document.addEventListener("DOMContentLoaded", function () {

    let currentIndex = "{{ current_index }}";
    const fundrs = JSON.parse(JSON.parse('{{ fundrs|escapejs }}'));

    const nextButton = document.getElementById("next-button");
    const saveButton = document.getElementById("save-button");
    const indexEl = document.getElementById("current_index");

    const fundrName = document.getElementById("fundr-name");
    const fundrDistance = document.getElementById("fundr-distance");
    const fundrBio = document.getElementById("fundr-bio");
    const fundrFunded = document.getElementById("fundr-funded");
    const fundrImg = document.getElementById("fundr-img");

    fundrName.innerText = fundrs[currentIndex].fields.name;
    fundrBio.innerText = fundrs[currentIndex].fields.bio;
    fundrDistance.innerText = `${fundrs[currentIndex].fields.distance_from_user}km away!`;
    fundrImg.src = fundrs[currentIndex].fields.image;

    let currentFunded = fundrs[currentIndex].fields.current;
    let goal = fundrs[currentIndex].fields.goal;
    if (currentFunded == goal) {
      fundrFunded.innerText = `Fully Funded: ${goal}!`;
    }
    else {
      fundrFunded.innerText = `£${currentFunded}/£${goal}`;
    }

    saveButton.value = fundrs[currentIndex].pk;
    indexEl.value = currentIndex;

    nextButton.addEventListener("click", function () {
      console.log('is calling on save')
      currentIndex++;
      if (currentIndex < fundrs.length) {
        let fundrObj = fundrs[currentIndex]
        indexEl.value = currentIndex;

        fundrName.innerText = fundrObj.fields.name;
        fundrBio.innerText = fundrObj.fields.bio;
        fundrDistance.innerText = `${fundrs[currentIndex].fields.distance_from_user}km away!`;
        fundrImg.src = fundrs[currentIndex].fields.image;

        saveButton.value = fundrs[currentIndex - 1].pk
        currentFunded = fundrs[currentIndex].fields.current;
        goal = fundrs[currentIndex].fields.goal;

        if (currentFunded == goal) {
          fundrFunded.innerText = `Fully Funded: ${goal}!`;
        } else {
          fundrFunded.innerText = `£${currentFunded}/£${goal}`;
        }
      }
      else {
        fundrName.innerText = "No more Fundrs to show!";
        fundrBio.style.display = "none";
        fundrFunded.style.display = "none";
        nextButton.style.display = "none";
      }
    });


  });
</script>


{% endblock %}